<div class="mt-4">

    <div class="container">

        <div class="row">

            <!-- COL-MD-5 STARTING -->
            <div class="col-md-5">

              <!-- SAVE CHARGE ENDING -->
              <div *ngIf="!viceVersaForm">
                  <div class="alert">
                      <i class="bi bi-lightning-charge baseColor"></i>
                      <p>Charge Config</p>
                  </div>

                                  <!-- SAVE CATEGORY START-->
                  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"  novalidate>


                      <!-- Variant Category start-->
                        <div>
                          <label class="fs12">Variant Category</label>
                          <select  
                            [(ngModel)]="form.variantId"
                            name="childCategoryId" 
                            class="form-select form-select-sm"
                            aria-label="Default select example"
                            required #variantId="ngModel"
                            [class.dirty]="variantId.dirty" 
                            [class.touched]="variantId.touched"
                            [ngClass]="{ 'is-invalid': variantId.errors && (variantId.touched || variantId.dirty ) }"
                          >
                            <option  value="null" disabled selected>select</option>
                              <option *ngFor="let variantData of variantList" [value]="variantData.id">
                                {{ variantData.categoryName}}
                              </option>
                          </select>   
                          
                          <div *ngIf="variantId.errors && (variantId.touched || variantId.dirty )" class="invalid-feedback fs11">
                              <div  *ngIf="variantId.errors['required'] ">
                              Variant is required
                              </div>
                          </div>
                        </div>
                        <!-- Variant Category end-->



                        <div class="row">
                            <div class="col">
                              <div class="form-group">
                                  <label class="fs12">TCS Charges</label>
                                  <input 
                                  type="text" 
                                  class="form-control form-control-sm" 
                                  name="tcsCharge" 
                                  [(ngModel)]="form.tcsCharge" 
                                  required #tcsCharge="ngModel"
                                  [class.dirty]="tcsCharge.dirty"  
                                  [class.touched]="tcsCharge.touched"
                                  [ngClass]="{ 'is-invalid': tcsCharge.errors && (tcsCharge.touched || tcsCharge.dirty ) }" /> 
                          
                                  <div *ngIf="tcsCharge.errors && (tcsCharge.touched || tcsCharge.dirty )"class="invalid-feedback fs11">
                                    <div *ngIf="tcsCharge.errors['required'] ">
                                      TCS Charge is required
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="fs12">TDS Charges</label>
                                    <input 
                                    type="text" 
                                    class="form-control form-control-sm" 
                                    name="tdsCharge" 
                                    [(ngModel)]="form.tdsCharge" 
                                    required #tdsCharge="ngModel"
                                    [class.dirty]="tdsCharge.dirty" 
                                    [class.touched]="tdsCharge.touched"
                                    [ngClass]="{ 'is-invalid': tdsCharge.errors && (tdsCharge.touched || tdsCharge.dirty ) }" />
                            
                                    <div *ngIf="tdsCharge.errors && (tdsCharge.touched || tdsCharge.dirty )"class="invalid-feedback fs11">
                                      <div *ngIf="tdsCharge.errors['required'] ">
                                        TDS Charge is required
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>


                        <div class="row">
                            <div class="col">
                              <div class="form-group">
                                  <label class="fs12">Shipping Charges</label>
                                  <input 
                                  type="text" 
                                  class="form-control form-control-sm" 
                                  name="shippingCharge" 
                                  [(ngModel)]="form.shippingCharge" 
                                  required #shippingCharge="ngModel"
                                  [class.dirty]="shippingCharge.dirty"  
                                  [class.touched]="shippingCharge.touched"
                                  [ngClass]="{ 'is-invalid': shippingCharge.errors && (shippingCharge.touched || shippingCharge.dirty ) }" /> 
                          
                                  <div *ngIf="shippingCharge.errors && (shippingCharge.touched || shippingCharge.dirty )"class="invalid-feedback fs11">
                                    <div *ngIf="shippingCharge.errors['required'] ">
                                      Shipping Charge is required
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="fs12">Shipping Charges Fee</label>
                                    <input 
                                    type="text" 
                                    class="form-control form-control-sm" 
                                    name="shippingChargeFee" 
                                    [(ngModel)]="form.shippingChargeFee" 
                                    required #shippingChargeFee="ngModel"
                                    [class.dirty]="shippingChargeFee.dirty" 
                                    [class.touched]="shippingChargeFee.touched"
                                    [ngClass]="{ 'is-invalid': shippingChargeFee.errors && (shippingChargeFee.touched || shippingChargeFee.dirty ) }" />
                            
                                    <div *ngIf="shippingChargeFee.errors && (shippingChargeFee.touched || shippingChargeFee.dirty )"class="invalid-feedback fs11">
                                      <div *ngIf="shippingChargeFee.errors['required'] ">
                                        Shipping Charge Fee is required
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>


                        <div class="form-group">
                              <label class="fs12">Description</label>
                              <textarea style="height: 100px"
                              type="text" 
                              class="form-control form-control-sm" 
                              name="description" 
                              [(ngModel)]="form.description" 
                              #description="ngModel"
                              >
                            </textarea>
                          </div>
              
                    <div class="d-grid gap-2 col-12 mx-auto mt-4">
                        <button mat-raised-button color="primary" [disabled]="f.invalid">Save Charge</button>
                        <div *ngIf="progressBarShow">
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>
                      </div>

                  </form>
              </div>
                 <!-- SAVE CHARGE ENDING -->



                 <!-- UPDATE CATEGORY STARTING -->
                 <div *ngIf="viceVersaForm">
                    <div class="alert">
                        <i class="bi bi-lightning-charge baseColor"></i>
                        <p>Charge Config Modified</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="addNew()" >Add New</button>
                    </div>
                                  <!-- SAVE CATEGORY START-->
                  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && updateChargeConfig()"  novalidate>


                      <!-- Variant Category start-->
                        <div>
                          <label class="fs12">Variant Category</label>
                          <select  
                            [(ngModel)]="updateform.variantId"
                            name="childCategoryId" 
                            class="form-select form-select-sm"
                            aria-label="Default select example"
                            required #variantId="ngModel"
                            [class.dirty]="variantId.dirty" 
                            [class.touched]="variantId.touched"
                            [ngClass]="{ 'is-invalid': variantId.errors && (variantId.touched || variantId.dirty ) }"
                          >
                            <option  value="null" disabled selected>select</option>
                              <option *ngFor="let variantData of variantList" [value]="variantData.id">
                                {{ variantData.categoryName}}
                              </option>
                          </select>   
                          
                          <div *ngIf="variantId.errors && (variantId.touched || variantId.dirty )" class="invalid-feedback fs11">
                              <div  *ngIf="variantId.errors['required'] ">
                              Variant is required
                              </div>
                          </div>
                        </div>
                        <!-- Variant Category end-->



                        <div class="row">
                            <div class="col">
                              <div class="form-group">
                                  <label class="fs12">TCS Charges</label>
                                  <input 
                                  type="text" 
                                  class="form-control form-control-sm" 
                                  name="tcsCharge" 
                                  [(ngModel)]="updateform.tcsCharge" 
                                  required #tcsCharge="ngModel"
                                  [class.dirty]="tcsCharge.dirty"  
                                  [class.touched]="tcsCharge.touched"
                                  [ngClass]="{ 'is-invalid': tcsCharge.errors && (tcsCharge.touched || tcsCharge.dirty ) }" /> 
                          
                                  <div *ngIf="tcsCharge.errors && (tcsCharge.touched || tcsCharge.dirty )"class="invalid-feedback fs11">
                                    <div *ngIf="tcsCharge.errors['required'] ">
                                      TCS Charge is required
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="fs12">TDS Charges</label>
                                    <input 
                                    type="text" 
                                    class="form-control form-control-sm" 
                                    name="tdsCharge" 
                                    [(ngModel)]="updateform.tdsCharge" 
                                    required #tdsCharge="ngModel"
                                    [class.dirty]="tdsCharge.dirty" 
                                    [class.touched]="tdsCharge.touched"
                                    [ngClass]="{ 'is-invalid': tdsCharge.errors && (tdsCharge.touched || tdsCharge.dirty ) }" />
                            
                                    <div *ngIf="tdsCharge.errors && (tdsCharge.touched || tdsCharge.dirty )"class="invalid-feedback fs11">
                                      <div *ngIf="tdsCharge.errors['required'] ">
                                        TDS Charge is required
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>


                        <div class="row">
                            <div class="col">
                              <div class="form-group">
                                  <label class="fs12">Shipping Charges</label>
                                  <input 
                                  type="text" 
                                  class="form-control form-control-sm" 
                                  name="shippingCharge" 
                                  [(ngModel)]="updateform.shippingCharge" 
                                  required #shippingCharge="ngModel"
                                  [class.dirty]="shippingCharge.dirty"  
                                  [class.touched]="shippingCharge.touched"
                                  [ngClass]="{ 'is-invalid': shippingCharge.errors && (shippingCharge.touched || shippingCharge.dirty ) }" /> 
                          
                                  <div *ngIf="shippingCharge.errors && (shippingCharge.touched || shippingCharge.dirty )"class="invalid-feedback fs11">
                                    <div *ngIf="shippingCharge.errors['required'] ">
                                      Shipping Charge is required
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="fs12">Shipping Charges Fee</label>
                                    <input 
                                    type="text" 
                                    class="form-control form-control-sm" 
                                    name="shippingChargeFee" 
                                    [(ngModel)]="updateform.shippingChargeFee" 
                                    required #shippingChargeFee="ngModel"
                                    [class.dirty]="shippingChargeFee.dirty" 
                                    [class.touched]="shippingChargeFee.touched"
                                    [ngClass]="{ 'is-invalid': shippingChargeFee.errors && (shippingChargeFee.touched || shippingChargeFee.dirty ) }" />
                            
                                    <div *ngIf="shippingChargeFee.errors && (shippingChargeFee.touched || shippingChargeFee.dirty )"class="invalid-feedback fs11">
                                      <div *ngIf="shippingChargeFee.errors['required'] ">
                                        Shipping Charge Fee is required
                                      </div>
                                    </div>
                                </div>
                              </div>
                        </div>


                        <div class="form-group">
                              <label class="fs12">Description</label>
                              <textarea style="height: 100px"
                              type="text" 
                              class="form-control form-control-sm" 
                              name="description" 
                              [(ngModel)]="updateform.description" 
                              #description="ngModel"
                              >
                            </textarea>
                          </div>

                    <div class="form-group">
                      <label class="fs12 mt-3">Charge Status</label>
                        <div>
                          <mat-slide-toggle name="isActive"  [(ngModel)]="updateform.active">
                          </mat-slide-toggle>
                        </div>
                     </div>
              
                    <div class="d-grid gap-2 col-12 mx-auto mt-4">
                        <button mat-raised-button color="primary" [disabled]="f.invalid">Save Charge</button>
                        <div *ngIf="progressBarShow">
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>
                      </div>

                  </form>
                </div>
                <!-- UPDATE CATEGORY ENDING -->
            </div>
            <!-- COL-MD-5 ENDING -->





            <!-- COL-MD-7 STARTING -->
            <div class="col-md-7">
            
              <div class="alert">
                <i class="bi bi-lightning-charge baseColor"></i>
                <p>Charge Config</p>
              </div>
            
              <!-- ANGULAR TABLE STARTING -->
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
                </mat-form-field>
            
                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8 w-100 table-bordered" style="border-color: #ece4e4;">
            
                    <!-- ID -->
                    <ng-container matColumnDef="id" >
                      <th class="fs10"  mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
                      <td class="fs10"  mat-cell *matCellDef="let element"> 
                        {{element.id}} 
                      </td>
                    </ng-container>
            
                    <!-- Variant ID -->
                    <ng-container matColumnDef="variantId">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> Variant ID </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.variantId}} </td>
                    </ng-container>
            
                    <!-- Variant Name -->
                    <ng-container matColumnDef="variantName">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> Variant Name </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.variantName}} </td>
                    </ng-container>
            
                    <!-- TCS -->
                    <ng-container matColumnDef="tcsCharge">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> TCS </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.tcsCharge}} </td>
                    </ng-container>
            
                    <!-- TDS -->
                    <ng-container matColumnDef="tdsCharge">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> TDS </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.tdsCharge}} </td>
                    </ng-container>
            
                    <!-- Shipping -->
                    <ng-container matColumnDef="shippingCharge">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> Shipping </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.shippingCharge}} </td>
                    </ng-container>
            
                    <!-- Shipping Fee -->
                    <ng-container matColumnDef="shippingChargeFee">
                      <th class="fs10" mat-header-cell *matHeaderCellDef mat-sort-header> Shipping Fee </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.shippingChargeFee}} </td>
                    </ng-container>
            
                    <!-- Description -->
                    <ng-container matColumnDef="description">
                      <th class="fs10" mat-header-cell *matHeaderCellDef> Description </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> {{element.description || '---'}} </td>
                    </ng-container>
            
                    <!-- Active -->
                    <ng-container matColumnDef="active">
                      <th class="fs10" mat-header-cell *matHeaderCellDef> Active </th>
                      <td class="fs10" mat-cell *matCellDef="let element">
                          <div *ngIf="element.active" class="dotGreen">
                            <i class="bi bi-dot"></i>
                          </div>
                          <div *ngIf="!element.active" class="dotRed">
                            <i class="bi bi-dot"></i>
                          </div>
                      </td>
                    </ng-container>

                    <!-- Update -->
                    <ng-container matColumnDef="update">
                      <th class="fs10" mat-header-cell *matHeaderCellDef> Update </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> 
                        <button (click)="getChargeConfigById(element.id)" type="button" class="btn btn-sm">
                          <i class="bi bi-pencil-square"></i>
                        </button>
                       </td>
                    </ng-container>

                     <!-- Remove -->
                    <ng-container matColumnDef="remove">
                      <th class="fs10" mat-header-cell *matHeaderCellDef> Remove </th>
                      <td class="fs10" mat-cell *matCellDef="let element"> 
                        <button (click)="deleteCharge(element.id)" type="button" class="btn btn-sm" style="color: #d30909;">
                          <i class="bi bi-file-earmark-x-fill"></i>
                        </button>
                       </td>
                    </ng-container>

                    <!-- Header & Rows -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'active-row': row.active, 'inactive-row': !row.active}">
                    </tr>

                    <!-- No Data -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="11">No data matching the filter</td>
                    </tr>
                  </table>
                </div>
            
                <!-- Paginator -->
                <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
              </div>
                <!-- ANGULAR TABLE ENDING -->

            </div>

            <!-- COL-MD-7 ENDING -->
        </div>
    </div>
</div>