.parentTable{
  background-color: #e8f8f5;
  font-family: sans-serif;
}



.headingStyle {
  font-size:14px;
  font-weight: bold;
  text-align: center;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  color: #4361ee;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 220px;
}


.pvUnderReview{
  background-color: #fcf8a9;;
}


.approved{
  background-color: lightgreen;
}

.pur{
  background-color: yellow;
  color: black;
  border-radius: 5px;
  padding: 4px;
}

.pva{
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
  padding: 4px;
}

.btnUnderReviewColor{
  background-color: #e8ec05;
}