<div class="container p-4 bg-white mt-4 border-radius20">

    <div class="alert">
      <i class="bi bi-people-fill px-1 baseColor"></i>
      <p>Seller</p>
    </div>


          <div  class="table-container">
            <table class=" table table-sm table-hover table-bordered">
              <thead>
  
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">userName</th>
                  <th scope="col">email</th>
                  <th scope="col">mobile</th>
                  <th scope="col">project-Role</th>
                  <th scope="col">creationDate</th>
                  <th scope="col">lastModifiedDate</th>
                </tr>
  
              </thead>
              <tbody>
                  <tr scope="row" *ngFor="let data of sellerList">
                      <td>{{ data.id }}</td>
                      <td>{{ data.username }}</td>
                      <td>{{ data.email }}</td>
                      <td>{{ data.mobile}}</td>

                      <td>
                        <div class="p-1 "> 
                          {{ data.projectRole}}
                        </div>
                      </td>

                      <td>
                        <span  class="p-1 spanDesign"> 
                           {{ data.creationDate}}
                        </span>
                      </td>
                      
                      <td>
                        <span class="p-1 spanDesign">  
                          {{ data.lastModifiedDate}}
                        </span>
                     </td>

                    </tr>
              </tbody>
            </table>
          </div>
  
   
   <mat-paginator 
                [pageSizeOptions]="[2, 4, 5, 8]" 
                [pageSize]="2"
                [length]="totalElements"
                (page)="nextPage($event)"
                showFirstLastButtons>
           </mat-paginator>
        

   
  
      </div>
 