<div class="container mt-1 px-3">

    <div class="heading d-flex align-items-center justify-content-between">
        <!-- Left side -->
        <div class="d-flex align-items-center gap-2 lightning-box" style="cursor: pointer;">
            <i class="bi bi-lightning-charge lightning-icon"></i>
            <p class="mb-0">Product Approved</p>
        </div>

        <!-- Right side (click)="refreshUnderReview()"-->
        <span  class="d-flex align-items-center gap-1 refresh-btn"
            style="cursor: pointer;">
            <i class="bi bi-gear-wide-connected refresh-icon"></i>
            <p class="mb-0">Refresh</p>
        </span>
    </div>


    <!-- Search Input Starting -->
    <div class="mt-2">
        <input type="text" placeholder="Search HSN Code" [(ngModel)]="searchText" (input)="onSearch()"
        class="form-control form-control-sm mb-3" />
    </div>
    <!-- Search Input Ending -->


    <table class="table table-sm fs11 table-hover table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">S.N</th>
                <th scope="col">Id</th>
                <th scope="col">File</th>
                <th scope="col">Product Name</th>
                <th scope="col">Status</th>
                <th scope="col">Product Key</th>
                <th scope="col">Date | Time</th>
                <th scope="col">variantId</th>
                <th scope="col">Product Series</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of filteredItems , let i = index" class="text-center" style="cursor: pointer;">
                <th scope="row" class="p-3">{{i + 1}}</th>
                <td class="p-3">{{data.id}}</td>
                <td>
                    <img [src]="data.productMainFile" [alt]="data.productMainFile" height="70" width="70"
                        class="product-main-file mt-1 mb-1">
                </td>
                <td>{{data.productName}}</td>
                <td>{{data.productStatus}}</td>
                <td>{{data.productKey}}</td>
                <td>{{data.productDate}} | {{data.productTime}}</td>
                <td>{{data.variantId}}</td>
                <td>{{data.productSeries}}</td>
                <td class="text-center">
                    <button (click)="productReview(data.id , data.variantId)" mat-raised-button color="primary"
                      style="height: 20px;font-size: 11px;">
                      Review
                    </button>
                </td>

    
            </tr>
        </tbody>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" [length]="totalElements" (page)="nextPage($event)"
        showFirstLastButtons>
    </mat-paginator>

</div>










    <!-- =====================MODEL OPEN========================= -->
    <!-- Modal Open-->
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true" #proceedModel>
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center ">
                    <div>
                        <i class="bi bi-rocket-takeoff fs20" style="color: #45e832;"></i>
                    </div>
                    <span class="fs11">
                        <p style="line-height: 1.1;">
                            Are you sure you want to Edit this Product ?
                        </p>
                    </span>

                </div>
                <div class="mb-3 text-center">
                    <button mat-raised-button class="me-2" data-bs-dismiss="modal">Close</button>
                    <button mat-raised-button color="primary" (click)="startProductEditMode()" >Continue</button>
                </div>
<!-- 
                <div *ngIf="progressBar">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div> -->

            </div>
        </div>
    </div>
    <!-- Modal Close-->
    <!-- =====================MODEL CLOSING======================== -->