<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white">
    Loading... </p>
</ngx-spinner>
<ng-toast />



<div id="app" class="navbar-light">

  <div class="container-fluid p-0">

    <div *ngIf="isLoggedIn">
      <mat-toolbar class="navbar">

        <div class="baseColor">
          <i class="bi bi-gear-wide-connected"></i>
          <span>AdminPanel</span>
        </div>

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon matBadge="2">notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon matBadge="2">mail</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon matBadge="">shopping_cart</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>logout</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="p-2">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </mat-toolbar>
    </div>
  </div>
  <!-- Not Login Navbar Ending -->

  <!-- User Not Login -->
  <div *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
  </div>

</div>




<!-- SIDEBAR STARTING-->
<div *ngIf="isLoggedIn">
  <div class="sidebar scrollable-content" [ngClass]="{'sidebar-extend-min': !isSidebarVisible}">

    <ul class="nav flex-column">

      <li class="nav-item mt-5 text-center mb-3">
        <a class="nav-link-headings gradient-background text-white" href="" data-bs-toggle="collapse" data-bs-target="#submenu1"
           aria-expanded="false">
          <i class="bi bi-house-door"></i>
          Home
        </a>
      </li>


      <li class="nav-item text-center mb-1">
        <a class="nav-link-headings" href="" routerLink="/admin/dashboard"data-bs-toggle="collapse" data-bs-target="#submenu1"
           aria-expanded="false">
          <i class="bi bi-house-door"></i>
          Dashboard
        </a>
      </li>




      <li class="nav-item ">
        <a class="nav-link-headings" (click)="toggleSubmenu('categories')"  href="" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false">
          <i class="bi bi-calendar4 mr-2"></i>
          Categories
          <i 
            [class.bi-chevron-right]="!isCategoriesOpen" 
            [class.bi-chevron-down]="isCategoriesOpen" 
            class="ms-auto floatRit"></i>
        </a>

         <ul class="collapse submenu4" id="submenu4">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/root-category">
              <i class="bi bi-window-sidebar"></i>
              Root Category
            </a>
          </li>
        </ul>

        <ul class="collapse submenu4" id="submenu4">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/sub-category">
              <i class="bi bi-window-sidebar"></i>
              Sub Category
            </a>
          </li>
        </ul>

        <ul class="collapse submenu4" id="submenu4">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/type-category">
              <i class="bi bi-window-sidebar"></i>
              Type Category
            </a>
          </li>
        </ul>

        <ul class="collapse submenu4" id="submenu4">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/variant-category">
              <i class="bi bi-window-sidebar"></i>
              Variant Category
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">

        <a class="nav-link-headings" (click)="toggleSubmenu('users')"  href="#" data-bs-toggle="collapse" data-bs-target="#submenu2"
          aria-expanded="false">
          <i class="bi bi-people"></i> Users
          <i 
            [class.bi-chevron-right]="!isUsersOpen" 
            [class.bi-chevron-down]="isUsersOpen" 
            class="ms-auto floatRit"></i>
        </a>

        <ul class="collapse submenu" id="submenu2">
          <li class="  unOrderList">
            <a class="nav-link  nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/customer-node">
              <i class="bi bi-person-fill-check"></i>
              Customer
              
            </a>
          </li>

          <li class="  unOrderList">
            <a class="nav-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/seller-node">
              <i class="bi bi-person-fill-check"></i>
              Seller
            </a>
          </li>

          <li class=" unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/admin-node">
              <i class="bi bi-person-fill-check"></i>
              Admin
            </a>
          </li>


        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link-headings" (click)="toggleSubmenu('catalogMeta')" href="#" data-bs-toggle="collapse" data-bs-target="#submenu3"
          aria-expanded="false">
          <i class="bi bi-cloud-haze2-fill"></i>
          Catalog Meta
          <i 
            [class.bi-chevron-right]="!isCatalogMeta" 
            [class.bi-chevron-down]="isCatalogMeta" 
            class="ms-auto floatRit"></i>
        </a>
        <ul class="collapse submenu3" id="submenu3">
          <li class="unOrderList">
            <a routerLink="/admin/dashboard/hsnCodes" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/hsnCodes">
              <i class="bi bi-tags-fill"></i>
              HSN Code
            </a>
          </li>

          <li class="unOrderList">
            <a routerLink="/admin/dashboard/brand" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/brand">
              <i class="bi bi-tags-fill"></i>
              Brand
            </a>
          </li>

          <li class="unOrderList">
            <a routerLink="/admin/dashboard/material" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/material">
              <i class="bi bi-tags-fill"></i>
              Material
            </a>
          </li>

          <li class="unOrderList">
            <a routerLink="/admin/dashboard/type" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/type">
              <i class="bi bi-tags-fill"></i>
              Type
            </a>
          </li>

          <li class=" unOrderList">
            <a routerLink="/admin/dashboard/size" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/size">
              <i class="bi bi-tags-fill"></i>
              Size
            </a>
          </li>

          <li class="unOrderList">
            <a routerLink="/admin/dashboard/netQuantity" routerLinkActive="active" class="nav-link nav-sub-link"
              href="/admin/dashboard/netQuantity">
              <i class="bi bi-tags-fill"></i>
              NetQuantity
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item">

        <a class="nav-link-headings" (click)="toggleSubmenu('chargeConfig')"  href="#" data-bs-toggle="collapse" 
           data-bs-target="#changeConfigMenu" aria-expanded="false">
          <i class="bi bi-people"></i> Charge Config
          <i 
            [class.bi-chevron-right]="!isChargeConfig" 
            [class.bi-chevron-down]="isChargeConfig" 
            class="ms-auto floatRit"></i>
        </a>

        <ul class="collapse submenu" id="changeConfigMenu">
          <li class="  unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/charge-config">
              <i class="bi bi-person-fill-check"></i>
              Charge Config
            </a>
          </li>
        </ul>
      </li>



      <li class="nav-item">

        <a class="nav-link-headings" (click)="toggleSubmenu('productRejectedReason')"  href="#" data-bs-toggle="collapse" 
           data-bs-target="#ProductRejectedReason" aria-expanded="false">
          <i class="bi bi-people"></i> Rejected Reason
          <i 
            [class.bi-chevron-right]="!isChargeConfig" 
            [class.bi-chevron-down]="isChargeConfig" 
            class="ms-auto floatRit"></i>
        </a>

        <ul class="collapse submenu" id="ProductRejectedReason">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/product-Rejection-reason">
              <i class="bi bi-person-fill-check"></i>
              P-Rejected Reason
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link-headings" (click)="toggleSubmenu('productStages')"  href="#" data-bs-toggle="collapse" 
           data-bs-target="#productStageMenu" aria-expanded="false">
          <i class="bi bi-people"></i> Product Statges
          <i 
            [class.bi-chevron-right]="!productStages" 
            [class.bi-chevron-down]="productStages" 
            class="ms-auto floatRit"></i>
        </a>

        <ul class="collapse submenu" id="productStageMenu">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/product-under-review">
              <i class="bi bi-card-checklist"></i>
               P - UnderReview
            </a>
          </li>
        </ul>

        <ul class="collapse submenu" id="productStageMenu">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/product-approved">
              <i class="bi bi-person-fill-check"></i>
              Product-Approved
            </a>
          </li>
        </ul>

        <ul class="collapse submenu" id="productStageMenu">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/product-dis-approved">
              <i class="bi bi-person-fill-check"></i>
               P - DisApproved
            </a>
          </li>
        </ul>

         <ul class="collapse submenu" id="productStageMenu">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/product-draft">
              <i class="bi bi-person-fill-check"></i>
               Product Draft
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link-headings" (click)="toggleSubmenu('emailBucket')" href="#" data-bs-toggle="collapse"
          data-bs-target="#emailBucket" aria-expanded="false">
          <i class="bi bi-people"></i> Email Bucket
          <i [class.bi-chevron-right]="!emailBucket" [class.bi-chevron-down]="emailBucket" class="ms-auto floatRit"></i>
        </a>

        <ul class="collapse submenu" id="emailBucket">
          <li class="unOrderList">
            <a class="nav-link nav-sub-link" routerLinkActive="active" href="" routerLink="/admin/dashboard/email-template">
              <i class="bi bi-person-fill-check"></i>
              Email Template
            </a>
          </li>
        </ul>
      </li>

      <div class="divider">
      </div>
    </ul>

  </div>

      <!-- CONTENT -->
      <div *ngIf="isLoggedIn" class="content mydiv" [ngClass]="{'content-expanded': !isSidebarVisible}">

        <div style="width: 100%;">
          <router-outlet>

            <button mat-stroked-button type="button" (click)="toggleSidebar()"
                    style="padding: 4px 8px; font-size: 12px; min-width: 50px; height: 32px;">
              <i class="bi bi-list"></i>
            </button>


            <span class="clock  mx-2">
              {{ currentTime }}
            </span>

            <!-- DYNAMIC ROOT CONTENT -->
          </router-outlet>

        </div>
      </div>
      <!-- CONTENT -->

  </div>

<!-- SIDEBAR ENDING -->