<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
  size = "small" 
  color = "#fff" 
  type = "ball-clip-rotate" 
  [fullScreen] = "true">
  <p style="color: white" > 
    Loading... </p>
</ngx-spinner>
<ng-toast /> 
<!-- <button type="button" (click)="genToast()" >click</button> -->



<div id="app" class="navbar-light bg-light"  >

  <!-- Not Login Navbar starting -->
  <!-- <div class="container" *ngIf="!isLoggedIn">
    <nav class="navbar navbar-expand navbar-light bg-light py-3">
      <a href="#" class="navbar-brand">Shopping</a>
      <ul  class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a mat-raised-button color="primary" href="/" routerLink="/">Login</a>
        </li>
      </ul>
    </nav>
  </div> -->
  <!-- Not Login Navbar Ending -->

  <div *ngIf="!isLoggedIn">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- <span>ADMIN PORTAL</span> -->
        <div class="bouncing-text">
          <div class="b">A</div>
          <div class="o">D</div>
          <div class="u">M</div>
          <div class="n">I</div>
          <div class="c">N</div>
          <div class="e">P</div>
          <div class="shadow"></div>
          <div class="shadow-two"></div>
        </div>
        <span class="example-spacer"></span>
        
        <a mat-raised-button color="primary" href="/" routerLink="/">
          <i class="bi bi-box-arrow-in-right"></i>
          Login
        </a>
      </mat-toolbar>
 </div> 


  <!--Login Navbar starting -->

  <div class="container-fluid p-0"  >

      <div *ngIf="isLoggedIn" >
          <mat-toolbar style="background-color: #ebf5fb;height: 80px;position: fixed;z-index: 99999999999999999999999999;" >
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>local_mall</mat-icon>
            </button>
            <span>AdminShop</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon matBadge="15" >notifications</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon matBadge="2" >mail</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon matBadge="" >shopping_cart</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>logout</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="p-2">
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>


           
          </mat-toolbar>
      </div>
  </div>
  <!-- Not Login Navbar Ending -->

  <!-- User Not Login -->
  <div  *ngIf="!isLoggedIn" > 
    <router-outlet></router-outlet>
  </div>
  
</div>




<!-- SIDEBAR STARTING-->
<div *ngIf="isLoggedIn">
       <div class="sidebar scrollable-content" [ngClass]="{'sidebar-extend-min': !isSidebarVisible}">
      <!-- <a href="" class="item">Home</a>
      <a href="" class="item">Product</a> -->
    
      <ul class="nav flex-column">
        <li class="nav-item mt-5">
          <a class="nav-link text-center text-dark " routerLinkActive="active" href="#" aria-expanded="false">
              <b>
                <i class="bi bi-house-check-fill"></i>
                Dashboard
              </b>
          </a>
      </li>
      
      <li class="nav-item mt-3">
          <a class="nav-link hv1"  href="" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false">
              <i class="bi bi-house-door"></i> Home
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false">
          <i class="bi bi-calendar4 mr-2"></i>
          Categories
          <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" ></i>
        </a>
        <ul class="collapse submenu4" id="submenu4">
          <li class="submenu-item hv1 unOrderList">
            <a style="font-size: 14px;" class="nav-link"  routerLinkActive="active" href="" routerLink="/admin/dashboard/parent-category">
              <i class="bi bi-window-sidebar"></i>
                Parent Category
            </a>
          </li>
      </ul>

      <!-- CHILD CATEGORY -->
      <ul class="collapse submenu4" id="submenu4">
        <li class="submenu-item hv1 unOrderList">
          <a style="font-size: 14px;" class="nav-link"  routerLinkActive="active"
             href="/admin/dashboard/child-category" routerLink="/admin/dashboard/child-category">
            <i class="bi bi-bookmarks-fill"></i>
              Child Category
          </a>
        </li>
    </ul>

    <ul class="collapse submenu4" id="submenu4">
      <li class="submenu-item hv1 unOrderList">
        <a type="button"  style="font-size: 14px;" class="nav-link" 
            href="/admin/dashboard/baby-category" routerLink="/admin/dashboard/baby-category">
          <i class="bi bi-bookmarks-fill"></i>
            Baby Category
        </a>
      </li>
  </ul>

  <ul class="collapse submenu4" id="submenu4">
    <li class="submenu-item hv1 unOrderList">
      <a type="button"  style="font-size: 14px;" class="nav-link" 
          href="/admin/dashboard/born-category" routerLink="/admin/dashboard/born-category">
        <i class="bi bi-bookmarks-fill"></i>
          Born Category
      </a>
    </li>
</ul>
    
    </li>

    <li class="nav-item">

        <a class="nav-link hv1" href="#" data-bs-toggle="collapse" data-bs-target="#submenu2" aria-expanded="false">
          <i class="bi bi-people"></i> Users
          <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" ></i>
        </a>
        <ul class="collapse submenu" id="submenu2" >
            <li class="submenu-item hv1 unOrderList">
              <a class="nav-link" href="" routerLink="/admin/dashboard/customer-node" style="font-size: 14px;">
                <i class="bi bi-person-fill-check"></i>
                Customer
              </a>
            </li>

            <li class="submenu-item hv1 unOrderList">
              <a class="nav-link" href="" routerLink="/admin/dashboard/seller-node" style="font-size: 14px;">
                <i class="bi bi-person-fill-check"></i>
                Seller
              </a>
            </li>

            <li class="submenu-item hv1 unOrderList">
              <a class="nav-link" href="" routerLink="/admin/dashboard/admin-node" style="font-size: 14px;">
                <i class="bi bi-person-fill-check"></i>
                Admin
              </a>
            </li>

            
        </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link hv1" href="#" data-bs-toggle="collapse" data-bs-target="#submenu3" aria-expanded="false">
        <i class="bi bi-percent"></i>
        Tax MetaData
        <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" ></i>
      </a>
      <ul class="collapse submenu3" id="submenu3">
        <li class="submenu-item unOrderList">
          <a routerLink="/admin/dashboard/hsnCodes"  class="nav-link" href="/admin/dashboard/hsnCodes">
            <i class="bi bi-tags-fill"></i>
            HSN Code
          </a>
        </li>
        <li class="submenu-item unOrderList">
          <a class="nav-link" href="#">
            <i class="bi bi-percent"></i>
              Tax  
          </a>
        </li>
    </ul>
  </li>


    <li class="nav-item">
        <a class="nav-link hv1" href="#" data-bs-toggle="collapse" data-bs-target="#submenu3" aria-expanded="false">
          <i class="bi bi-lock-fill"></i>
          About
          <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" ></i>
        </a>
        <ul class="collapse submenu3" id="submenu3">
          <li class="submenu-item unOrderList">
            <a class="nav-link" href="#">
              <i class="bi bi-lock-fill"></i>
              product
            </a>
          </li>
          <li class="submenu-item unOrderList">
            <a class="nav-link" href="#">
              <i class="bi bi-spotify"></i>
                  Sub Product
            </a>
          </li>
      </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link hv1" href="#">
            <i class="bi bi-envelope"></i> Contact
        </a>
    </li>

    <div class="divider">

    </div>
</ul>
    
</div>

<!-- CONTENT -->
<div *ngIf="isLoggedIn" class="content mydiv" [ngClass]="{'content-expanded': !isSidebarVisible}">
            
            <div style="width: 100%;">
              <router-outlet>
             
                <button mat-stroked-button   type="button" (click)="toggleSidebar()">
                  <i class="bi bi-list"></i>
                </button>
              
                <button mat-button class="mx-3" >
                  <i class="bi bi-arrow-clockwise"></i>
                  Refresh
                </button>

                <span class="clock">
                  {{ currentTime }}
                </span>
                
              <!-- DYNAMIC ROOT CONTENT -->
            </router-outlet>
              
            </div>
</div>
<!-- CONTENT -->
</div>

<!-- SIDEBAR ENDING -->




